/* hijau #024947 */
/* abu #495a61 */
/* tosca #21baab */
@font-face {
    font-family: 'Caviar-Dreams';
    src:url('/assets/extends/plugin/font/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.woff') format('woff'),
        url('/assets/extends/plugin/font/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.svg') format('svg'),
        url('/assets/extends/plugin/font/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.eot')
        /* url('Caviar-Dreams.ttf.eot?#iefix') format('embedded-opentype') */
        ; 
    font-weight: normal;
    font-style: normal;
}
.btn-orange-cta {
    font-family: roboto;
    transition: all .48s ease;
    text-align: center;
    color: #46ac61;
    font-weight: bolder;
    border-style: hidden;
    transition: all .88s ease;
    background: #46ac61;
    background-image: linear-gradient(120deg,#fff,rgba(255, 255, 255, 0.945));
}
  .btn-orange-cta:hover,
  .btn-orange-cta:focus,
  .btn-orange-cta.focus,
  .btn-orange-cta:active,
  .btn-orange-cta.active,
  .open > .dropdown-toggle.btn-orange-cta {
    color: #fff;
    /* background-color: #449d44; */
    border-color: #ee5930;
    border-width: 1px;
    background: #46ac61
    /* background-image: linear-gradient(120deg,#d34119,#ec4f23,#ee5930); */
   
  }
  .btn-orange-cta:active,
  .btn-orange-cta.active,
  .open > .dropdown-toggle.btn-orange-cta {
    /* background-image: none; */
    background-image: linear-gradient(120deg,#E36C29,rgb(227, 84, 41));
   
  }
.btn-grad-teal {
    color: #495a61;
    background-image: linear-gradient(90deg, #21baab, #21baab, #1ba194);
    background-color: #1dc9b7;
    /* border-color: #1dc9b7;  */
    /* border-color:#21baab; */

    }
    .btn-grad-teal:hover {
      color: #273236;
      /* background-color: #18a899; */
      background-image: linear-gradient(-70deg, 90deg, #21baab, #1ba194, #1ba194);
      /* border-color: #179c8e;  */
    
    }
    .btn-grad-teal:focus, .btn-grad-teal.focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(63, 209, 194, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(63, 209, 194, 0.5); }
    .btn-grad-teal.disabled, .btn-grad-teal:disabled {
      color: #fff;
      background-color: #1dc9b7;
      border-color: #1dc9b7; }
    .btn-grad-teal:not(:disabled):not(.disabled):active, .btn-grad-teal:not(:disabled):not(.disabled).active,
    .show > .btn-grad-teal.dropdown-toggle {
      color: #fff;
      background-color: #179c8e;
      border-color: #159184; }
      .btn-grad-teal:not(:disabled):not(.disabled):active:focus, .btn-grad-teal:not(:disabled):not(.disabled).active:focus,
      .show > .btn-grad-teal.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(63, 209, 194, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(63, 209, 194, 0.5); }

.btn.btn-grad-teal.btn-elevate {
  -webkit-box-shadow: 0px 4px 16px 0px rgba(29, 201, 183, 0.15);
  box-shadow: 0px 4px 16px 0px rgba(29, 201, 183, 0.15); }
  .show > .btn.btn-grad-teal.btn-elevate, 
  .btn.btn-grad-teal.btn-elevate:focus, 
  .btn.btn-grad-teal.btn-elevate.active, 
  .btn.btn-grad-teal.btn-elevate:active, 
  .btn.btn-grad-teal.btn-elevate:hover {
    -webkit-box-shadow: 0px 9px 16px 0px rgba(29, 201, 183, 0.25) !important;
    box-shadow: 0px 9px 16px 0px rgba(29, 201, 183, 0.25) !important; }
    .show > .btn.btn-grad-teal.btn-elevate.btn-sm, .btn-group-sm.show > .btn.btn-grad-teal.btn-elevate, .btn.btn-grad-teal.btn-elevate:focus.btn-sm, .btn-group-sm > .btn.btn-grad-teal.btn-elevate:focus, .btn.btn-grad-teal.btn-elevate.active.btn-sm, .btn-group-sm > .btn.btn-grad-teal.btn-elevate.active, .btn.btn-grad-teal.btn-elevate:active.btn-sm, .btn-group-sm > .btn.btn-grad-teal.btn-elevate:active, .btn.btn-grad-teal.btn-elevate:hover.btn-sm, .btn-group-sm > .btn.btn-grad-teal.btn-elevate:hover {
      -webkit-box-shadow: 0px 6px 16px 0px rgba(29, 201, 183, 0.25) !important;
      box-shadow: 0px 6px 16px 0px rgba(29, 201, 183, 0.25) !important; }


.login .left img {
        /* top: 0;
        left: 0;
        width:30%;
        position: absolute;
        object-fit: contain;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.7) !important;
        box-shadow: 0 0 0px 0 rgba(0,0,0,.7) !important;
        transform: translate(30%, 0%);
        transition: transform 0.5s ease-out; */
}
.login .left img {
    position: relative !important;
    width: 70%;
    height: auto;
    box-shadow: 0 0 10px 0 transparent !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.login{
    height: 90vh;
    background: #fff;
}
.vcenter{
    height: 100vh;
    position: relative;
}
.footer-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 0px;
    z-index: 999 !important;
    background: #ffffff;
}
.border-login{
    /* background: transparent; */
   
}
.title-wrapper{
    margin: 30px;
    width: 50% !important;
    height: 250px;
    padding: 20px;
    background: transparent;
    border-radius: 0.3rem;
    position: fixed;
    left: -20%;
    top: 65%;
    transform: translate(50%, -50%);
    /* border: 10px solid #024947; */
    /* border: 10px solid #fff; */
    padding: 10px;
}
.title-wrapper .title{
    color : #fff;
    font-weight: 900;
    font-size: 3rem;
}
.title-wrapper .subtitle{
    color: #21baab
}
.login-wrapper {
    /* box-shadow: 0 0 20px 0 rgba(134, 134, 134, 0.2) !important; */
    margin: 0px;
    width: 30% !important;
    height: 65vh;
    padding: 50px !important;
    background: #4eb96e;
    border-radius: 0.3rem;
    position: fixed;
    left: 45%;
    top: 50%;
    transform: translate(50%, -50%);
    /* border: 10px solid #024947; */
    /* border: 10px solid #fff; */
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(151, 148, 148, 0.7) !important;
}
.form-login .title {
    opacity: 1;
    font-size: 33px;
    font-family: Roboto;
    color: #fff;
    line-height: 40px;
    letter-spacing: 0px;
}
.inner-login-wrapper{
    background: #fff;
    height: 400px;
    padding: 10px;
}
.top-logo{
    display: block !important;
}
.nav-logo{
    /* height: 70%; */
    padding: 10px;
    height: 60px;
}
.body .navbar.bg-light{
    background: #fff !important; 
    border-bottom: 1px solid #f8f9fa !important;
    box-shadow: 0 0 5px 0.1rem rgba(190, 190, 190, 0.25);
}
.login-wrapper .top-logo p{
    width: 100%;
    font-family: 'Caviar Dreams';
  font-size: 70px;
  color: rgba(11,23,20,.7);
  font-weight: 800;
  /* margin: 15px; */
  padding: 5px;
  margin-bottom: 5px;
  margin-top: -7rem;
  text-align: center;
  color:#024947;
}
.logo-app{
    text-align: center
}
.login-wrapper img {
    height: 70px;
    margin-left: 0px;
}
.form-control::placeholder {
    color: #ffffff;
    opacity: .4;
}
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 5px;

}

.username .form-control,
.password .form-control {
    background: transparent !important;
    border: transparent !important;
    border-bottom: 2px solid #f3fafa !important;
    border-radius: 0px !important;
    color: #fff  !important;
}
.username .form-control:active, 
.password .form-control:active,
.username .form-control:focus, 
.password .form-control:focus {
    background: transparent !important;
}

.password label, .username label{
    z-index: 100;
    /* color: #46586c !important; */
    color: #4f6350 !important;
    margin-left: 0.2rem;
    margin-top: -4rem;
    padding-top: 0rem;
}
.login input.form-control:focus + label{
    color: #ffffff !important
}


.login .form-control:focus {
    color: #f3fafa  !important;
    background-color: #fff;
    border: transparent !important;
    border-bottom:solid 4px #8bcb97 !important;
    
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
  /* .form-control:focus {
    color: #495057;
    border-color: #024947 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.041) !important;
  } */

  /* 00B294 */
input[type=text]:focus {
    /* border: 2px solid rgba(0, 139, 178, 0.5 ) !important; */
    background: transparent !important;
    border: 2px solid #21baabc2 !important;
    -webkit-box-shadow: 0 -1px 2px #1c2c591e;
  }
input[type=password]:focus {
    border: 2px solid #21baabc2  !important;
    -webkit-box-shadow: 0 -1px 2px #1c2c591e;
  }
.form-login .sub-title {
    text-align: center;
    font-family: 'Caviar Dreams' !important;
    font-weight: 500;
    font-kerning: 5px;
}
.form-login .title {
    text-align: center
}
a {
    color: #024947;
}

.body{
    font-family: 'Roboto' !important;
}

.login .button {
    margin-top: 30px;
}